<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: center;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
</head>
<body>
<div id="container" style="white-space:nowrap">
    <div id="image" style="display:inline;">
        <img src="../templates/asi-logo-slogan.jpg"/>
    </div>
        <div id="image" style="display:inline;">
        <img align="right" src="../templates/NIKHEF.jpg"/>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<h1 align="center"> {{entityName}} </h1>
<h1 align="center">Base Address :  {{baseAddress}} </h1>
{% for reg in registers %}
<a href="#{{reg.name}}">{{loop.index}} - {{reg.name}} - {{reg.offset}}</a>
<br>
{% endfor %}
{% for reg in registers %}
<h2 id="{{reg.name}}">{{reg.name}}</h2>
{% set  rowspan1 = namespace(value=0)  %}
{% for f in reg.fields %}
{% set rowspan1.value = rowspan1.value + f.values | length %}
{% endfor %}


<table id="t01">
  <tr>
    <th>Name</th>
    <th>Offset</th>
    <th>Vhdl Record</th>
    <th>Bits</th>
    <th>Alias</th>
    <th>Value</th>
    <th>Description</th>
  </tr>
{% for f in reg.fields %}
 {% set isFirstLoop = loop.first %}
{% for v in f.values %}
   <tr>
    {% if isFirstLoop == True and loop.first %}	
    <td rowspan="{{rowspan1.value}}">{{reg.name}}</td>
    <td rowspan="{{rowspan1.value}}">{{reg.offset}}</td>
    <td rowspan="{{rowspan1.value}}">{{reg.record}}</td>
    {% endif %}
    {% set  rowspan2 = namespace(value=0)  %}
    {% set rowspan2.value = rowspan2.value + f.values | length %}
    {% if loop.first %}
    <td rowspan="{{rowspan2.value}}">{{f.range}}</td>
    <td rowspan="{{rowspan2.value}}">{{f.alias}}</td>
    {% endif %}
    <td rowspan="1">{{v.value}}</td>
    <td rowspan="1">{{v.description}}</td> 
 </tr>
 {% endfor %}
{% endfor %}
 
</table>
{% endfor %}
</body>
</html>

